# 将这些配置填入项目根目录 .env。详见 README.md。
MAPBOX_TOKEN=
TIANDITU_TOKEN=
GEOSERVER_WMS_URL=http://localhost:8080/geoserver/ne/wms
GEOSERVER_DOM_LAYER=ne:DOM_COG
DOM_BOUNDS=[98.87636822220345,27.04721825778342,98.8879329074003,27.05324393689146]
TILES_DIRECTORY=data/TILES
BACKEND_URL=http://127.0.0.1:8000
DATABASE_URL=
